body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0;
    margin-bottom: auto;
    background-image: url(images/backgroundImage.jpg);
}
.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.mainTitle {
    font-weight: bolder;
    font-size: 60px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    justify-content: center;
    align-items: center;
    max-height: 50px;
    display: flex;
    background-color: red;
    display: flex;
    margin-top: auto;
}

.drums {
    margin-top: 100px;
    align-items: center;
    flex-grow: 1;
    width: 1000px;
    height: 200px;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25%;
}

.drum {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border: 0;
    border-color: beige;
    border-radius: 5%;
}

.drumPressed {
    width: 110px;
    height: 110px;
    background-color: black;
    color: white;
    border: 4px solid red;
    border-radius: 5%;
}